[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
protobuf = "*"
numpy = "*"
torch = "*"
nvidia-ml-py3 = "*"
skyline-cli = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.7"
